name: Publish images
on:
  push:
    branches: [ dev, main ]

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Normalize owner (lowercase)
        id: img
        run: echo "image=ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/snippet-service" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.img.outputs.image }}
          tags: |
            # DEV → :dev
            type=raw,value=dev,enable=${{ endsWith(github.ref, '/dev') }}
            # MAIN → :latest
            type=raw,value=latest,enable={{is_default_branch}}
            # RELEASE tags → vX.Y.Z, X.Y, X
            type=semver,pattern={{version}},enable={{is_tag}}
            type=semver,pattern={{major}}.{{minor}},enable={{is_tag}}
            type=semver,pattern={{major}},enable={{is_tag}}
            # (opcional) quitar si no querés branch-tags y sha:
            type=ref,event=branch
            type=sha,format=short

      - uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
